body {
    margin: 0;
    font-family: "Michroma", sans-serif;
    background: #090815;
    color: #ffffffc0;
}

@view-transition {
  navigation: auto;
}

a {
    color: #ffbf00;
}

header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background: #000000;
    justify-content: space-between;
    top: 0;
    border-bottom: 1px solid #161b22;
    position: sticky;
}

main{
    display: grid;
    grid-template-columns: 150px 1fr; /*fr - fraction from free space*/
    gap: 20px;
    padding: 20px;
}

footer {
    margin-top: 30px;
    padding: 20px;
    text-align: center;
    border-top: 1px solid #161b22;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

nav {
    display: flex;
    gap: 20px;
    align-items: center;
}

select {
    border: none;
    padding: 5px;
    border-radius: 5px;
}

.quest {
    background: #071a3a;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #071a3a;
    transition: 0.2s;
}

.quest:hover {
    border-color: #efd722;
    box-shadow: 0 0 10px rgba(0,255,159,0.2);
}

.quest-title {
    font-size: 18px;
    margin-bottom: 8px;
}

.quest-user {
    font-size: 12px;
    color: #8b949e;
    margin-bottom: 8px;
}

aside {
    background: #232644;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #fffb0047;
}

aside p:hover, li:hover {
    color: #ffe600;
}

.discussions {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.discussions-header{
    position: static;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: none;
}

@media (max-width: 800px) {

    body {
        font-size: 14px;
    }

    main {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    header {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    aside {
        width: 110%;
        padding: 5px;
    }

    aside > *{
        margin: 10px;
    }  

    .discussions-header {
        align-items: flex-start;
    }

    .discussions-header select {
        width: 100%;
    }

    .quest {
        padding: 10px;
    }

    .quest-title {
        font-size: 16px;
    }

    .quest-user,
    .quest-stats {
        font-size: 12px;
    }
}